@import "variables";

.main-screen {
  //   background-color: $background;
  //   height: 100vh;
  width: 100vw;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  .logout-btn {
    position: absolute;
    top: 24px;
    right: 48px;
    color: $dark;
    font-weight: bold;
    cursor: pointer;
  }
  // & :hover {
  //   // background-color: red;
  //   color: $red;
  // }
  h1 {
    font-size: 4rem;
    color: $light;
    text-transform: uppercase;
  }
  .menu {
    display: flex;
    gap: 24px;
    & button {
      border-radius: 12px;
      background-color: $light-transp;
      border: none;
      padding: 12px 24px;
      text-transform: uppercase;
      color: $dark;
      font-weight: bold;
      cursor: pointer;
    }
    // & :hover {
    //   background-color: $medium;
    // }
  }
  .products-container {
    display: flex;
    justify-content: space-evenly;
    // flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
    padding: 24px;
  }
  .blur-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1;
  }
}
